.git
.gitignore
.vscode
.idea
README.md
Dockerfile*
.dockerignore
docker-compose*
**/*copy*

/vendor
/bootstrap/cache
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/public/hot
/public/storage
/storage/keys
_ide_helper.php

/node_modules
/.next
/.nuxt
/dist
/build

.env
.env.*
!.env.local.template
!.env.example
